<%= render 'homescreen/blocks/header', title: t('homescreen.blocks.community') %>
<ul class="widget-box--arrow-links">
<li>
<a href="https://nokiaiesp-prod.ngrok.io/iesppmt/projects/iesp-pm-tool-development/forums" target="_blank">Discussion Forums</a>
</li>
<li>
<a href="https://nokiaiesp-prod.ngrok.io/iesppmt/projects/iesp-pm-tool-development/work_packages/new?type=4" target="_blank">Request a Feature</a>
</li>
<li>
<a href="https://nokiaiesp-prod.ngrok.io/iesppmt/projects/iesp-pm-tool-development/work_packages/new?type=7" target="_blank">Raise a Bug</a>
</li>
<li>
<a href="https://nokiaiesp-prod.ngrok.io/iesppmt/projects/iesp-pm-tool-development/work_packages/new?type=11" target="_blank">Raise a Documentation Issue</a>
</li>
<li>
<a href="https://nokiaiesp-prod.ngrok.io/iesppmt/projects/iesp-pm-tool-development/roadmap" target="_blank">Roadmap</a>
</li>
<li>
<a href="https://nokia.sharepoint.com/:f:/r/sites/nokiaiesp/Shared%20Documents/ExternalDocuments/DigitalToolDocuments/IESP-PMT?csf=1&web=1&e=uwAQAR" target="_blank">Offline Excel Sync Tool Download</a>
</li>
</ul>

